{% extends 'base.html' %}
    
{% block content%}

<div class="backgroundimage">
  <h2>.</h2>
  <div class="card  border-secondary mb-3" style="width: 27rem; 
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
">
    <img class="card-img" src="/static/img/cardbackground.jpeg" alt="Card image">
    <div class="card-img-overlay">
      <img  class="loginanimation"  src="" alt=""> <br>
   <form action="" method="post" class="card-text text-white ">
    {%csrf_token%}
    {{form.as_p}}
    <button type="button" class="btn " type="submit" >Log In</button>
    <p>Forgot password?<a href="{% url 'password_reset'%}">Click here to change password</a></p>
</form>
</div>

</div>
</div>


{%endblock content%}

 
  