{%extends 'base.html'%}
{% block title %}password_reset_send_email{%endblock title%}
{%block content%}

<div class="backgroundimage">
    {% if messageSent %}
<h1>Check your password</h1>
<p>We've emailed you at {{form.cleaned_data.to}}  the instructions for resetting your password You should receive the email shortly</p>
{% else %}
<form action="" method="post">
    {%csrf_token%}
    {{form.as_p}}
    <input type="submit" class="btn btn-secondary " value="Send e-mail">
</form>
{% endif %}
</div>
{% endblock content%}